.divA{
    background-color: #000000;
    width: 500px;
    height: 500px;
}
.divB{
    background-color: #7d15b9;
    width: 50%;
    height: 50%;
}
.divC{
    color: #ffffff;
    background-color: #ff0000;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}
.divD{
    width: 50%;
    height: 50vh;
    background-color: rgb(93, 71, 219);
}
.divE{
    width: 75vw;
    height: 50%;
    background-color: rgb(122, 1, 1);
}